.login{
    background: linear-gradient(#000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container{
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
}
.login__container--form{
    display: flex;
    flex-direction: column;
}
.login__container--form label{
    font-size: 14px;
}
.login__container--recordar{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--recordar a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.login__container--recordar a:hover{
    text-decoration: underline;
}
.inputlogin{
    color: white;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    padding: 0 15px;
    outline: none;
    height: 50px;

}
.inputcontra{
    color: white;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    padding: 0 15px;
    outline: none;
    height: 50px;

}
::placeholder{
    color: white;

}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}
@media only screen and (max-width: 600px){
    .login__container{
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
}