.registroCurso{
    background: linear-gradient(#000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.registroCurso__container{
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 400px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
}
.registroCurso__container--form{
    display: flex;
    flex-direction: column;
}
.registroCurso__container--form label{
    font-size: 14px;
}



.registroCurso__select{ 
    color: white;
    display: block;
    background: transparent;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    padding: 0 15px;
    outline: none;
    height: 50px;
    border-radius: 40px;
    -webkit-appearance: none;
    box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.6);
    outline:none
}
select:hover {
    color:#9b9b9b
}

option{
    color: white;
    background-color: #383838;
    
}




::placeholder{
    color: white;

}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}
@media only screen and (max-width: 600px){
    .registroCurso__container{
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
}

